// variable de couleurs
$rouge: red;
$blanc: #fff;
$vertF: #043227;
$noir: #000;

// variables de border radius
$img_border_radius:             3rem;
$border-radius-sm:            .2rem;
$border-radius-lg:            .3rem;
$border-radius-pill:          50rem;

p {
    color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    background-color: $rouge;
}

nav a {
padding: 2em;
}

nav li:hover {
    background-color: rgb(255, 179, 0);
}

.carousselAccueil img {
    width: 100%;
    max-height: 700px;
}

footer a:link {
    color: $rouge;
}

.produit-menu-img{
    width: 20%;
    float: left;
  }
  
.img-curve{
    border-radius: $img_border_radius;
}


